<main class="catalog-container">
  <h2 class="catalog-title">Nossos Equipamentos</h2>

  <div class="products-grid">
    <!-- O bloco @for repete essa estrutura para cada produto no array -->
    @for (produto of produtos; track produto.id) {
      <article class="product-card">

        <div class="product-card__image-wrapper">
          <img [src]="produto.imagem" [alt]="produto.nome" class="product-card__image">
          <span class="product-card__category">{{ produto.categoria }}</span>
        </div>

        <div class="product-card__content">
          <h3 class="product-card__title" [title]="produto.nome">
            {{ produto.nome }}
          </h3>
          <p class="product-card__description">
            {{ produto.descricao }}
          </p>

          <div class="product-card__footer">
            <span class="product-card__price">
              <!-- Pipe do Angular para formatar o preço em Real Brasileiro (BRL) -->
              {{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}
            </span>

            <button class="product-card__button" aria-label="Ver Detalhes">
              Ver Detalhes
            </button>
          </div>
        </div>

      </article>
    }
  </div>
</main>

